//******************************************************************************************************************
//Footer
footer {
  background: #000;
  .social-media-container {
    display: table;
    margin: 0 auto;

  }
}
