@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans');

$font-stack: 'Open Sans', sans-serif;
$font-bree: 'Bree Serif', serif;
$light-blue: #2DE8DF;
$back-color: #fff;
$border-bottom-header: #EBEBEB;
$hover-color: #E5E5E5;
$button-color: #33F9E7;
$button-text: #24C0B8;
$header-text-color: #EE8A55;

html {
  background: #000;
}
body {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0;
  font-family: $font-stack;
  background: $back-color;
}
header {
  height: 180px;
  width: 100%;
  border-top: 10px solid $light-blue;
  border-bottom: 1px solid $border-bottom-header;;
}

// Navigation Menu
.topnav {
  position: relative;
  top: 80px;
  .nav-items {
    //position: absolute;
    //top: 60px;
    text-align: center;
    float: left;
    padding-bottom: 18px;
    &:hover {
      border-bottom: 1px solid $light-blue;
    }
    a {
      text-decoration: none;
      font-size: 18px;
      color: #000;
      &:hover {
        color: $hover-color;
      }
    }
  } // nav-items class
  #home {
    position: absolute;
    left: 10%;
  }
  #products {
    position: absolute;
    left: 30.5%;
    margin-left: -1px;
  }
  #logo {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -60px;
  }
  #about {
    position: absolute;
    left: 63%;
  }
  #contact {
    position: absolute;
    left: 84%;
    margin-left: 3px;
  }
  #ham-icon {
    display: none;
  }
} // topnav
@media screen and (max-width: 900px) {
  .topnav {
    #logo {
      display: none;
    }
    #about {
      left: 53%;
    }
    #contact {
      left: 76%;
    }
    .nav-items {

    }
  }
}
// --------------------------------------------------------------------------------------------------
